* {
  font-family: 'Montserrat', sans-serif;
}

.white {
    color: #fff;
}

nav.navbar {
    margin-bottom: 0 !important;
}

#lead {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background: url('../img/main-image.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

#lead-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(52, 152, 219, 0.8);
    z-index: 1;
}

#lead-content h1 {
    font-size: 5em;
    font-weight: bold;
    line-height: 0.9em;
}

#lead-content h2 {
    font-size: 2.25em;
    color: #34495e;
    line-height: 0.9em;
    margin-top: 5px;
}

#resume {
    background: transparent;
    display: inline-block;
    color: #fff;
    padding: 15px 25px;
    border: 3px solid #fff;
    border-radius: 30px;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    margin-top: 10px;
}

#resume:hover {
    background: #fff;
    color: #3498db;
}

section div#education {
    margin: 50px 0;
}

section div#education .education-block {
    width: 90%;
    margin: 50px auto;
    border: 1px solid #95a5a6;
    padding: 20px;
}

section div#education .education-date {
    float: right;
}

section div#projects {
    background-color: #3498db;
    margin: 50px 0;
    padding: 25px 0;
}

section div#projects h2 {
    margin-bottom: 50px;
}

section div#projects .projects-block {
    width: 90%;
    margin: 0 auto;
}

section div#projects .projects-block .caption h3 {
    text-align: center;
}

section div#projects .projects-block .thumbnail {
    max-height: 50em;
    padding-bottom: 2.5em;
}

section div#projects .projects-block img {
    width: 100%;
}

section div#skills h2 {
    margin-bottom: 30px;
}

section div#skills .skills-block {
    margin-bottom: 50px;
}

section div#skills ul#skills-list {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

section div#skills ul#skills-list li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;  
}

section div#skills .label {
    border-radius: 0;
    padding: 0.5em;
    background-color: #3498db;
}

section div#contact {
    background-color: #3498db;
    padding: 30px 15px;
}

section div#contact .contact-block {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 25px;
}

section div#contact h2 {
    margin-bottom: 40px;
}

section div#contact textarea {
    height: 125px;
    resize: none;
}

section div#contact textarea, section div#contact input[type="submit"] {
    margin-top: 10px;
}

section div#contact input[type="email"]:focus, section div#contact textarea:focus {
  border-color: #2c3e50;
  border-width: 2px;
  outline: 0;
}
section div#contact input[type="text"]::-moz-selection {
  background: #ffb7b7 !important; /* Gecko Browsers */
}

section div#contact input[type="submit"] {
    border: 0;
    color: #3498db;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-transition: .5s ease all;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}

section div#contact input[type="submit"]:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.24);
}

footer div#footer {
    padding: 20px 0;
}

footer div#footer .footer-block {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

footer div#footer .copyright p {
    margin: 0 0 25px;
    padding-top: 10px;
}

footer div#footer .social {
    padding-bottom: 10px;
}

footer div#social ul {
    margin: 0;
    padding: 0;
    float: right;
}

footer div#social ul li {
    list-style-type: none;
    float: left;
}

footer div#social li .fa {
    font-size: 20px;
} 

footer div#social a {
    display: block;
    padding: 10px;
}

footer div#social a:hover {
    color:#2c3e50;
}

@media only screen and (max-width: 992px) {

    #lead {
        height: auto;
        min-height: auto;
        padding: 150px 15px;
    }

    #lead-content {
        position: relative;
        -webkit-transform: none;
        transform: none;
        left: auto;
        top: auto;
    }

    #lead-content h1 {
        font-size: 4em;
    }

    #lead-content h2 {
        font-size: 2em;
    }

    section div#education .education-date {
        float: none;
    }

}


@media only screen and (max-width: 768px) {

    #lead-content h1 {
        font-size: 3em;
    }

    #lead-content h2 {
        font-size: 1.5em;
    }

    #resume {
        padding: 10px 20px;
    }

}

@media only screen and (max-width: 767px) {

    footer div#footer {
        text-align: center;
    }

    footer div#social ul {
        float: none;
        width: 180px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

}

@media only screen and (max-width: 480px) {

    #lead-content h1 {
        font-size: 2em;
    }

    #lead-content h2 {
        font-size: 1.25em;
    }

    #resume {
        padding: 5px 10px;
    }

}
